.header {
  padding: 60px 0;
  background-color: var(--bg-dark);
}

.header__logo {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.header__logo-icon {
  display: block;
}

.header__logo-text {
  display: block;
  color: var(--color-text-inverse);
  font-family: "Forum", sans-serif;
  font-size: var(--fs-subtitle);
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
}