.header {
  padding: 60px 0;
  background-color: var(--bg-dark);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.header__logo-icon {
  display: block;
}

.header__logo-text {
  display: block;
  color: var(--color-text-inverse);
  font-family: "Forum", sans-serif;
  font-size: var(--fs-subtitle);
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  gap: 55px;
}

.menu__link {
  color: var(--color-text-inverse);
  transition: color 0.2s ease;
}

.menu__link:hover {
  color: var(--gold);
}