:root {
  --color-text-primary: #111111;
  --color-text-inverse: #ffffff;

  --bg-dark: #030303;
  --dark-red: #710707;
  --gold: #9d8665;

  --fs-title: 32px;
  --fs-subtitle: 28px;
  --fs-lead: 22px;
  --fs-body: 18px;
}